@font-face {
  font-family: 'Nautilus Pompilius';
  src: url('../fonts/nautiluspompilius.eot');
  src: url('../font/nautiluspompilius.eot?#iefix') format('embedded-opentype'),
       url('../font/nautiluspompilius.woff2') format('woff2'),
       url('../font/nautiluspompilius.woff') format('woff'),
       url('../font/nautiluspompilius.ttf') format('truetype'),
       url('../font/nautiluspompilius.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
